<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/main.css">

    <title>Document</title>
</head>

<body>
    {{>header}}
    <main>
        <h1>Party</h1>

        <section class="chat">
            <div id="sidebar" class="chat__sidebar">

            </div>
            <div class="chat__main">
                <div id="messages" class="chat__messages">

                </div>

                <div class="compose">
                    <form action="" id="formMessage">
                        <input id="input" name="message" type="text" required autocomplete="off">
                        <button id="btn" >Send</button>
                    </form>
                    <!-- Client side code of Socket io in order to communicatie from client side -->
                </div>
            </div>
        </section>

   

    </main>
    {{>footer}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="chat.js"></script>
</body>

</html>