<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <title>Natch</title>
</head>

<body class="dashboard">
    {{>header}}
    <main>


        <section>
            <h2 id="welcome"></h2>
            <h3>{{movie.title}}</h3>
            <p>{{movie.subtitle}}</p>

            <form id="movie-form" action="/chat" method="GET">

                <label for="room-id">Room ID:
                    <input name="room" type="text" readonly="readonly" value="{{movie._id}}">
                </label>
                <button>Watch Netflix serie</button>
            </form>


            <div class="btn-container">
                <button>Next</button>
                <button>Previous</button>
            </div>
        </section>




    </main>
    {{>footer}}

    <script>
        const token = localStorage.getItem('access_token');
        const greet = document.getElementById('welcome');

        fetch('http://localhost:3000/users/me', {
            headers: {
                Authorization: `Bearer ${token}`
            }
        }).then((res) => res.json()).then((data) => {

            greet.textContent = `Hello ${data.username}!`;
            console.log(data)
        });
    </script>
</body>

</html>