<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
  <noscript>
    <meta http-equiv="refresh" content="30">
  </noscript>
</head>
<body>
  
  {{#each this}}
    <div class="message">
      <p>
        <span class="message-time">{{this.createdAt}}</span>
        &mdash;
        <span class="message-name">{{this.text}}</span>
      </p>
    </div>
  {{/each}}
    
</body>
</html>