<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <title>Natch</title>
</head>

<body>
    {{>header}}
    <main>
        <h1>{{joke}}</h1>


        
            <section>
                <h4>Register</h4>
                <form action="/dashboard" method="post" class="login">
                    <label>
                        Username
                        <input type="text" required name="username">
                    </label>

                    <label>
                        Age
                        <input type="number" required name="age">
                    </label>

                    <label>
                        Password
                        <input type="password" required name="password">
                    </label>

                    <button type="submit">Register</button>
                </form>
            </section>

         
        
    </main>
    {{>footer}}

</body>

</html>