{
    "extends": "airbnb-base",
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true
    },
    "rules": {
        "no-console":"off",
        "func-names": "warn",
        "arrow-spacing": "warn",
        "arrow-body-style": "warn",
        "camelcase": "warn",
        "no-useless-rename": ["error", {
            "ignoreDestructuring": false,
            "ignoreImport": false,
            "ignoreExport": false
        }]
     
    }
}